wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"
# fallback access point when Wi-Fi is unreachable
ap_password: "CHOOSE_A_PASSWORD"
# for over-the-air firmware updates
ota_password: "CHOOSE_A_PASSWORD"
